torch>=1.8
torchvision
pytorch-lightning>=1.5.0
torchmetrics>=0.6
matplotlib
pandas>1.0
ipywidgets
scikit-image
albumentations>=1.0
fire
lightning-flash[image]>=0.7.3
# timm>=0.5.4
segmentation-models-pytorch>=0.2.1
wandb
